# Copy this file to .env and fill values (DO NOT commit .env with secrets)
SECRET_KEY=django-insecure-replace-this-with-a-secret
DEBUG=True
USE_SQLITE=False
DB_NAME=clinica_imagenes
DB_USER=clinica_user
DB_PASSWORD=changeme
DB_HOST=127.0.0.1
DB_PORT=3306
